@import '_measures.scss';


@mixin style($height, $size) {
    height: $height;
    font-size: $size;
}


#view {
    
    .content-view-error {
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;

            h1 {
                font-family: 'Bungee Inline', cursive;
                color: rgb(53, 255, 137);
                text-shadow:  0 0 1px #00AF80,
                              -1px -1px 0 #00AF80,  
                              1px -1px 0 #00AF80,
                              -1px 1px 0 #00AF80,
                              1px 1px 0 #00AF80;
            }
    
            p {
                font-weight: bold;
            }
        }

        @media (max-width: $blackberry) {
            width: 80%;
            height: 300px;
            flex-direction: column;
            margin: 6% 6%;
            padding: 3% 0 3% 0;

            h1 {
                font-size: 22px;
            }

            p {
                margin-top: -3%;
            }

            img {
                width: 90%;
                border-radius: 5px;
                margin: 5% 5%;
            }
        }

        @media (min-width: $blackberry) and (max-width: $smartphone) {
            width: 75%;
            height: 320px;
            flex-direction: column;
            margin: 10% 10%;
            padding: 2% 0 2% 0;

            h1 {
                font-size: 26px;
            }

            p {
                margin-top: -3%;
            }

            img {
                border-radius: 5px;
                margin: 5% 5%;
            }
        }

        @media (min-width: $smartphone) and (max-width: $tablet) {
            width: 85%;
            height: 340px;
            flex-direction: row-reverse;
            margin: 11% 11%;
            padding: 2% 0 2% 0;

            div {
                width: 45%;
                margin: 0 0 0 4%;

                h1 {
                    font-size: 30px;
                    margin-top: 2%;
                }

                p {
                    margin-top: -7%;
                }
            }

            img {
                border-radius: 5px;
            }
        }

        @media (min-width: $tablet) and (max-width: $notebook) {
            width: 80%;
            height: 360px;
            flex-direction: row-reverse;
            margin: 7% 7%;
            padding: 2% 0 2% 0;

            div {
                width: 50%;
                margin: 0 0 0 7%;

                h1 {
                    font-size: 50px;
                    margin-top: 2%;
                }

                p {
                    margin-top: -7%;
                }
            }

            img {
                border-radius: 5px;
            }
        }

        @media (min-width: $notebook) and (max-width: $desktop) {
            width: 70%;
            height: 380;
            flex-direction: row-reverse;
            margin: 7% 7%;
            padding: 5% 0 5% 0;

            div {
                width: 40%;
                margin: 0 0 0 7%;

                h1 {
                    font-size: 70px;
                    margin-top: 2%;
                }

                p {
                    margin-top: -10%;
                }
            }

            img {
                border-radius: 5px;
            }
        }

        @media (min-width: $desktop) {
            width: 90%;
            height: 400px;
            flex-direction: row-reverse;
            margin: 4% 4%;
            padding: 0 0 0 0;

            div {
                width: 35%;
                margin: 0 0 0 5%;

                h1 {
                    font-size: 80px;
                    margin-top: 2%;
                }

                p {
                    margin-top: -10%;
                }
            }

            img {
                width: 38%;
                border-radius: 5px;
            }
        }
    }
}
