@import '_measures.scss';


.modal {
    /* display: none; */
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(163, 163, 163, 0.582);

    .flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background: #f2f2f2; */

        .content-modal {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            width: 30%;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
            animation-name: modal;
            animation-duration: 1s;

            .close {
                color: #f2f2f2;
                font-size: 30px;
                font-weight: bold;

                :hover {
                    color: #7f8c8d;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            .modal-header, .modal-footer {
                background: #34495e;
                color: #f2f2f2;
            }
        }
    }

    @keyframes modal {
        from {
            top: -330px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }
}
