@import '_measures.scss';


#container-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 10, 10, 0.81);

    #modal {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
        animation-name: modal;
        animation-duration: 1s;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        button {
            background: #c7f3b3ff;
            cursor: pointer;
            border-radius: 5px;
            border: 1px solid #a2fb7a;
            font-family: 'Athiti', sans-serif;
        }

        .modal-header, .modal-footer {
            display: flex;
            align-items: center;
            background: #6aa84f;
            color: #f2f2f2;
        }

        .modal-header {
            justify-content: space-between;

            h2 {
                font-weight: bold;
            }

            #span-close {
                color: #f2f2f2;
                font-weight: bold;
                cursor: pointer;
    
                :hover {
                    color: #7f8c8d;
                }
            }
        }

        .modal-footer {
            border-radius: 0 0 10px 10px;
            justify-content: flex-end;
        }

        .modal-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: scroll;
                border: 2px solid grey;
            }

            span {
                font-weight: bold;
                margin-top: -3%;
            }
        }

        @media (max-width: $blackberry) {
            width: 70%;

            button {
                width: 35%;
                padding: 1%;
                font-size: 13px;                
            }

            .modal-header, .modal-footer {
               height: 10vh;
            }

            .modal-header {
                border-radius: 3px 3px 0 0;

                h2, span {
                    font-size: 18px;
                }

                h2 {
                    margin-left: 5%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 3px 3px;
            }

            .modal-body {
                padding: 3% 5% 7% 5%;

                div {
                    width: 70%;
                    height: 30px;
                    border-radius: 5px;
                    font-size: 12px;
                    margin-top: -3%;
                }

                button {
                    margin-top: 6%;
                }

                span {
                    font-size: 11px;
                    margin-top: 6%;
                }
            }

            #span-close, #button-accept {
                margin-right: 5%;
            }
        }
    
        @media (min-width: $blackberry) and (max-width: $smartphone) {
            width: 60%;

            button {
                width: 30%;
                padding: 1%;
                font-size: 13px;                
            }

            .modal-header, .modal-footer {
               height: 11vh;
            }

            .modal-header {
                border-radius: 4px 4px 0 0;

                h2, span {
                    font-size: 19px;
                }

                h2 {
                    margin-left: 6%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 4px 4px;
            }

            .modal-body {
                padding: 3% 5% 7% 5%;

                div {
                    width: 70%;
                    height: 35px;
                    border-radius: 5px;
                    font-size: 12px;
                    margin-top: -2%;
                }

                button {
                    margin-top: 6%;
                }

                span {
                    font-size: 13px;
                    margin-top: 3%;
                }
            }

            #span-close, #button-accept {
                margin-right: 6%;
            }
        }
    
        @media (min-width: $smartphone) and (max-width: $tablet) {
            width: 50%;

            button {
                width: 30%;
                padding: 1%;
                font-size: 14px;                
            }

            .modal-header, .modal-footer {
               height: 12vh;
            }

            .modal-header {
                border-radius: 5px 5px 0 0;

                h2, span {
                    font-size: 20px;
                }

                h2 {
                    margin-left: 7%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 5px 5px;
            }

            .modal-body {
                padding: 3% 5% 6% 5%;

                div {
                    width: 75%;
                    height: 40px;
                    border-radius: 5px;
                    font-size: 14px;
                    margin-top: -2%;
                }

                button {
                    margin-top: 4%;
                }

                span {
                    font-size: 13px;
                    margin-top: 3%;
                }
            }

            #span-close, #button-accept {
                margin-right: 7%;
            }
        }
    
        @media (min-width: $tablet) and (max-width: $notebook) {
            width: 40%;

            button {
                width: 30%;
                padding: 1%;
                font-size: 15px;                
            }

            .modal-header, .modal-footer {
               height: 13vh;
            }

            .modal-header {
                border-radius: 6px 6px 0 0;

                h2, span {
                    font-size: 22px;
                }

                h2 {
                    margin-left: 6%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 6px 6px;
            }

            .modal-body {
                padding: 3% 5% 6% 5%;

                div {
                    width: 75%;
                    height: 45px;
                    border-radius: 5px;
                    font-size: 15px;
                    margin-top: -2%;
                }

                button {
                    margin-top: 4%;
                }

                span {
                    font-size: 14px;
                    margin-top: 3%;
                }
            }

            #span-close, #button-accept {
                margin-right: 6%;
            }
        }
    
        @media (min-width: $notebook) and (max-width: $desktop) {
            width: 35%;

            button {
                width: 30%;
                padding: 1%;
                font-size: 16px;                
            }

            .modal-header, .modal-footer {
               height: 14vh;
            }

            .modal-header {
                border-radius: 6px 6px 0 0;

                h2, span {
                    font-size: 24px;
                }

                h2 {
                    margin-left: 6%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 6px 6px;
            }

            .modal-body {
                padding: 3% 5% 6% 5%;

                div {
                    width: 75%;
                    height: 50px;
                    border-radius: 5px;
                    font-size: 16px;
                    margin-top: -2%;
                }

                button {
                    margin-top: 4%;
                }

                span {
                    font-size: 15px;
                    margin-top: 3%;
                }
            }

            #span-close, #button-accept {
                margin-right: 6%;
            }
        }
        
        @media (min-width: $desktop) {
            width: 30%;

            button {
                width: 30%;
                padding: 1%;
                font-size: 17px;                
            }

            .modal-header, .modal-footer {
               height: 12vh;
            }

            .modal-header {
                border-radius: 6px 6px 0 0;

                h2, span {
                    font-size: 25px;
                }

                h2 {
                    margin-left: 6%;  
                }
            }

            .modal-footer {
                border-radius: 0 0 6px 6px;
            }

            .modal-body {
                padding: 3% 5% 6% 5%;

                div {
                    width: 75%;
                    height: 55px;
                    border-radius: 5px;
                    font-size: 17px;
                    margin-top: -2%;
                }

                button {
                    margin-top: 4%;
                }

                span {
                    font-size: 15px;
                    margin-top: 3%;
                }
            }

            #span-close, #button-accept {
                margin-right: 6%;
            }
        }
    }

    @keyframes modal {
        from {
            top: -330px;
            opacity: 0;
        }

        to {
            top: 0;
            opacity: 1;
        }
    }
}
