
#view {
   
    .content-view-encode-decode {
        flex-direction: column;

        .div-cipher {
            flex-direction: column;
            justify-content: center;
            background: $color-white;
            border-color: $color-green-medium;
            border-style: solid;

            input, textarea {
                background: $color-grey-water;
                border: 1px solid $color-grey;
                border-radius: 5px;
            }

            textarea {
                resize: none;
            }

            input:invalid, textarea:invalid {
                border-color: $color-red-light;
            }

            input:focus, textarea:focus { 
                border: 1px solid green;
            }

            .div-buttons {
                justify-content: center;
                margin: 5% 0 5% 0;

                button {
                    background: $color-yellow-light;
                    border-color: $color-yellow-medium;
                    border-style: solid;
                }
            }
        }

        @include responsiveView(lessBlackberry) {
            width: 80%;
            margin: 3% 0 11% 0;

            h1 {
                margin-bottom: -3%;
            }

            .div-cipher {
                @include border(5px, 8px);
                @include marginPadding(5% 0 0 0, 0 5% 0 5%);

                label {
                    font-size: 13px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }
    
                button {
                    @include size(45%, 30px);
                    font-size: 10px;
                    margin: 0 2% 0 2%;
                    @include border(2px, 5px);
                }
            } 
        }
    
        @include responsiveView(blackberry-smartphone) {
            width: 80%;
            margin: 7% 0 9% 0;

            h1 {
                margin-bottom: -1%;
            }

            .div-cipher {
                @include border(6px, 8px);
                @include marginPadding(2% 0 0 0, 0 5% 0 5%);

                label {
                    font-size: 13px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }
    
                button {
                    @include size(43%, 25px);
                    font-size: 11px;
                    margin: 0 2% 0 2%;
                    @include border(2px, 5px);
                }
            }    
        }
    
        @include responsiveView(smartphone-tablet) {
            width: 70%;
            margin: 5% 0 7% 0;

            h1 {
                margin-bottom: 0;
            }

            .div-cipher {
                @include border(7px, 8px);
                @include marginPadding(2% 0 0 0, 0 12% 0 12%);

                label {
                    font-size: 14px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }

                textarea {
                    height: 50px;
                }
    
                button {
                    @include size(42%, 30px);
                    font-size: 12px;
                    margin: 0 3% 0 3%;
                    @include border(2px, 5px);
                }
            } 
        }
    
        @include responsiveView(tablet-notebook) {
            width: 60%;
            margin: 3% 0 6% 0;

            h1 {
                margin-bottom: -1%;
            }

            .div-cipher {
                @include border(8px, 8px);
                @include marginPadding(2% 5% 0 5%, 0 12% 0 12%);

                label {
                    font-size: 15px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }

                textarea {
                    height: 55px;
                }
    
                button {
                    @include size(40%, 35px);
                    font-size: 13px;
                    margin: 0 3% 0 3%;
                    @include border(2px, 5px);
                }
            }   
        }
    
        @include responsiveView(notebook-desktop) {
            width: 60%;
            margin: 3% 0 5% 0;

            h1 {
                margin-bottom: -1%;
            }

            .div-cipher {
                @include border(9px, 8px);
                @include marginPadding(2% 7% 0 7%, 0 12% 0 12%);

                label {
                    font-size: 16px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }

                textarea {
                    height: 60px;
                }
    
                button {
                    @include size(37.5%, 40px);
                    font-size: 14px;
                    margin: 0 3% 0 3%;
                    @include border(3px, 5px);
                }
            }     
        }
    
        @include responsiveView(majorDesktop) {
            width: 65%;
            margin: 3% 0 5% 0;

            h1 {
                margin-bottom: 0;
            }

            .div-cipher {
                @include border(10px, 8px);
                @include marginPadding(3% 12% 0 12%, 0 12% 0 12%);

                label {
                    font-size: 17px;
                    margin-top: 3%;
                }

                input {
                    height: 23px;
                }

                textarea {
                    height: 65px;
                }
    
                button {
                    @include size(35%, 45px);
                    font-size: 14px;
                    margin: 0 3% 0 3%;
                    @include border(4px, 5px);
                }
            } 
        }
    }
}
