
#view {
    
    .content-view-instructions {
        flex-direction: column;
        @include styleFlex(center);

        #container-instructions {
            align-content: center;

            section {
                align-content: center;
                border: 2px solid $color-green-jade;
                border-radius: 10px;

                div {
                    @include styleFlex(center);
                }

                .subtitle-instructions {
                    border-bottom: 2px solid $color-green-jade;
                }

                .item-instruction {
                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }

        @include responsiveView(lessBlackberry) {
            width: 85%;

            #container-description-web {
                width: 100%;
                margin-top: 7%;

                p {
                    margin-top: -3%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                margin: 5% 0 5% 0;

                section {
                    flex-direction: column;
                    @include marginPadding(3% 0 8% 0, 2% 0 2% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 14px;
                            margin: 0 0 2% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 5% 0 5%);

                        img {
                            width: 12vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    
        @include responsiveView(blackberry-smartphone) {
            width: 75%;

            #container-description-web {
                width: 100%;
                margin: 9% 0 3% 0;

                p {
                    margin: 0 2% 0 2%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                margin: 5% 0 5% 0;

                section {
                    flex-direction: column;
                    @include marginPadding(3% 0 8% 0, 2% 0 2% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 15px;
                            margin: 0 0 2% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 7% 0 7%);

                        img {
                            width: 10vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    
        @include responsiveView(smartphone-tablet) {
            width: 90%;

            #container-description-web {
                width: 100%;
                margin: 5% 0 5% 0;

                p {
                    margin: -1% 2% 0 2%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;

                section {
                    width: 40%;
                    flex-direction: column;
                    @include marginPadding(1% 0 8% 0, 2% 0 2% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 16px;
                            margin: 0 0 2% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 4% 0 4%);

                        img {
                            width: 7vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    
        @include responsiveView(tablet-notebook) {
            width: 80%;

            #container-description-web {
                width: 100%;
                margin: 3% 0 5% 0;

                p {
                    margin: -1% 5% 0 5%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: row;
                justify-content: space-around;

                section {
                    width: 40%;
                    flex-direction: column;
                    @include marginPadding(1% 0 7% 0, 2% 0 1% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 17px;
                            margin: 0 0 5% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 8% 0 8%);

                        img {
                            width: 5vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    
        @include responsiveView(notebook-desktop) {
            width: 80%;

            #container-description-web {
                width: 100%;
                margin: 4% 0 5% 0;

                p {
                    margin: -1% 7% 0 7%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: row;
                justify-content: space-around;

                section {
                    width: 40%;
                    flex-direction: column;
                    @include marginPadding(1% 0 7% 0, 2% 0 1% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 18px;
                            margin: 0 0 5% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 9% 0 9%);

                        img {
                            width: 4vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    
        @include responsiveView(majorDesktop) {
            width: 80%;

            #container-description-web {
                width: 100%;
                margin: 3% 0 4% 0;

                p {
                    margin: -1% 10% 0 10%;
                }
            }

            #container-instructions {
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;

                section {
                    width: 35%;
                    flex-direction: column;
                    @include marginPadding(1% 0 6% 0, 2% 0 1% 0);

                    .subtitle-instructions {
                        width: 100%;
                        margin-bottom: 2%;

                        h2 {
                            font-size: 19px;
                            margin: 0 0 5% 0;
                        }
                    }

                    .item-instruction {
                        flex-direction: column;
                        @include marginPadding(3% 0 3% 0, 0 9% 0 9%);

                        img {
                            display: flex;
                            width: 3.5vw;
                        }
                
                        p {
                            margin-top: 3%;
                        }
                    }
                }
            }
        }
    }
}
