
footer {
    width: 100%;
    justify-content: center;
    align-items: center;
    background: $color-black-light;
    color: $color-white;

    @media (max-width: $blackberry) {
        height: 45px;

        p {
            margin: 0 5% 0 5%;
            font-size: 13px;
        }
    }

    @media (min-width: $blackberry) and (max-width: $smartphone) {
        @include style(45px, 15px);
    }

    @media (min-width: $smartphone) and (max-width: $tablet) {
        @include style(45px, 16px);
    }

    @media (min-width: $tablet) and (max-width: $notebook) {
        @include style(47.5px, 17px);
    }

    @media (min-width: $notebook) and (max-width: $desktop) {
        @include style(50px, 18px);
    }
    
    @media (min-width: $desktop) {
        @include style(52.5px, 19px);
    }
}