
header {
    @include size(100%, auto);
    background: $color-grey-light;
    top: 0;
    position: fixed;

    #logo-text {
        border-radius: 5px;
    }

    ul {
        list-style: none;
 
        a {
            text-decoration: none;
            color: $color-black;
        }

        li {
            border-style: solid;
            border-color: $color-white;

            &:hover {
                background: $color-grey;
                transition: all 1s;

                a {
                    color: $color-white;
                    font-weight: bold;
                }
            }
        }
    } 

    .show {
        display: block;       
    }

    @media (max-width: $blackberry) {
        flex-direction: column;

        div {
            @include size(100%, 60px);
            @include styleFlex(space-between);

            #icon-menu {
                @include size(16%, 45px);
                display: flex;
                margin-left: 3.2%;
            }

            a {
                @include anchorLogoInMenuBurger();

                #logo-text {
                    @include size(50%, 45px);
                    margin-right: 3.2%;
                }
            }
        }

        nav {
           @include size(100%, auto);
           display: none;

            ul {
                @include ulInMenuBurger();

                li {
                    height: 50px;
                    border-top-width: 1px;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    @include styleFlex(center);
                }
            }
        }
    }

    @media (min-width: $blackberry) and (max-width: $smartphone) {
        flex-direction: column;

        div {
            @include size(100%, 70px);
            @include styleFlex(space-between);

            #icon-menu {
                @include size(14%, 50px);
                display: flex;
                margin-left: 3.2%;
            }

            a {
                @include anchorLogoInMenuBurger();

                #logo-text {
                    @include size(50%, 50px);
                    margin-right: 3.2%;
                }
            }
        }

        nav {
            @include size(100%, auto);
            display: none;

            ul {
                @include ulInMenuBurger();

                li {
                    height: 50px;
                    border-top-width: 1.5px;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    @include styleFlex(center);
                }
            }
        }
    }
        
    @media (min-width: $smartphone) and (max-width: $tablet) {
        flex-direction: column;

        div {
            @include size(100%, 80px);
            @include styleFlex(space-between);

            #icon-menu {
                @include size(11.5%, 60px);
                display: flex;
                margin-left: 3.2%;
            }

            a {
                @include anchorLogoInMenuBurger();

                #logo-text {
                    @include size(50%, 60px);
                    margin-right: 3.2%;
                }
            }
        }

        nav {
           @include size(100%, auto);
           display: none;

            ul {
                @include ulInMenuBurger();

                li {
                    height: 50px;
                    border-top-width: 2px;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    border-right-width: 0;
                    @include styleFlex(center);
                }
            }
        }
    }
    
    @media (min-width: $tablet) and (max-width: $notebook) {
        @include headerBeeline(82px);

        div {
            @include size(25%, auto);
            @include divIconAndLogo();

            #icon-menu {
                display: none;
            }

            a {
                width: 100%;

                #logo-text {
                    @include size(100%, 60px);
                }
            }
        }

        nav {
            @include size(65%, auto);
            margin-right: 1%;

            li {
                @include size(30%, 50px);
                @include styleFlex(center);
                @include border(2px, 15px);
                margin: 0 3% 0 3%;
            }
        }
    }
        
    @media (min-width: $notebook) and (max-width: $desktop) {
        @include headerBeeline(85px);

        div {
            @include size(25%, auto);
            @include divIconAndLogo();

            #icon-menu {
                display: none;
            }

            a {
                width: 100%;

                #logo-text {
                    @include size(90%, 60px);
                }
            }
        }

        nav {
            @include size(55%, auto);
            margin-right: 1%;

            li {
                @include size(30%, 50px);
                @include styleFlex(center);
                @include border(2px, 15px);
                margin: 0 3% 0 3%;
            }
        }
    }
        
    @media (min-width: $desktop) {
        @include headerBeeline(88px);

        div {
            @include size(25%, auto);
            @include divIconAndLogo();

            #icon-menu {
                display: none;
            }

            a {
                width: 100%;

                #logo-text {
                    @include size(80%, 60px);
                }
            }
        }

        nav {
            @include size(50%, auto);
            margin-right: 1%;

            li {
                @include size(30%, 50px);
                @include styleFlex(center);
                @include border(2px, 15px);
                margin: 0 3% 0 3%;
            }
        }
    }
}
