header {
  width: 100%;
  height: auto;
  background: #efefefff;
  display: flex;
  top: 0;
  position: fixed;
}
header #icon-menu {
  display: none;
  cursor: pointer;
}
header a {
  outline: none;
}
header a #logo-text {
  border-radius: 5px;
  cursor: pointer;
}
header ul {
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: black;
  outline: none;
}
header ul li:hover {
  background: gray;
  transition: all 1s;
}
header ul li:hover a {
  color: white;
}
header .show {
  display: block;
}
@media (max-width: 320px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 16%;
    height: 45px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    display: flex;
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 45px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top: 1px solid lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 14%;
    height: 50px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    display: flex;
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 50px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top: 1px solid lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 11.5%;
    height: 60px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    display: flex;
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 60px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top: 1px solid lemonchiffon;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 82px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    display: flex;
    width: 100%;
  }
  header div a #logo-text {
    width: 100%;
    height: 60px;
  }
  header nav {
    width: 65%;
    height: auto;
    margin-right: 1%;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header {
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    display: flex;
    width: 100%;
  }
  header div a #logo-text {
    width: 90%;
    height: 60px;
  }
  header nav {
    width: 55%;
    height: auto;
    margin-right: 1%;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}
@media (min-width: 1200px) {
  header {
    height: 88px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    display: flex;
    width: 100%;
  }
  header div a #logo-text {
    width: 80%;
    height: 60px;
  }
  header nav {
    width: 50%;
    height: auto;
    margin-right: 1%;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444444ff;
  color: white;
}
footer p {
  text-align: center;
}
@media (max-width: 320px) {
  footer {
    height: 45px;
  }
  footer p {
    margin: 0 5% 0 5%;
    font-size: 13px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 45px;
    font-size: 15px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    height: 45px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    height: 47.5px;
    font-size: 17px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    height: 50px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  footer {
    height: 52.5px;
    font-size: 19px;
  }
}

#view .content-view-encode-decode {
  flex-direction: column;
}
#view .content-view-encode-decode p {
  margin-bottom: 25px;
}
#view .content-view-encode-decode .div-cipher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}
#view .content-view-encode-decode .div-cipher label {
  text-align: center;
}
#view .content-view-encode-decode .div-cipher input, #view .content-view-encode-decode .div-cipher textarea {
  background: gainsboro;
  border: 1px solid gray;
  border-radius: 5px;
}
#view .content-view-encode-decode .div-cipher input:invalid {
  border-color: red;
}
#view .content-view-encode-decode .div-cipher textarea {
  resize: none;
}
#view .content-view-encode-decode .div-cipher .div-buttons {
  display: flex;
  justify-content: center;
  margin: 5% 0 5% 0;
}
#view .content-view-encode-decode .div-cipher .div-buttons button {
  cursor: pointer;
  background: #ffff8a;
}
@media (max-width: 320px) {
  #view .content-view-encode-decode {
    width: 80%;
    margin: 3% 0 8% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 5% 0 5%;
    border: 5px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 13px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher button {
    height: 25px;
    font-size: 10px;
    margin: 0 2% 0 2%;
    border: 2px solid #ff5;
    border-radius: 5px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-encode-decode {
    width: 80%;
    margin: 6% 0 9% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 5% 0 5%;
    border: 6px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 13px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 43%;
    height: 25px;
    font-size: 11px;
    margin: 0 2% 0 2%;
    border: 2px solid #ff5;
    border-radius: 5px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-encode-decode {
    width: 70%;
    margin: 5% 0 7% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 12% 0 12%;
    border: 7px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 14px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 50px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 45%;
    height: 30px;
    font-size: 12px;
    margin: 0 3% 0 3%;
    border: 2px solid #ff5;
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-encode-decode {
    width: 60%;
    margin: 3% 0 6% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 12% 0 12%;
    margin: 0 5% 0 5%;
    border: 8px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 15px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 55px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 40%;
    height: 35px;
    font-size: 13px;
    margin: 0 3% 0 3%;
    border: 2px solid #ff5;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-encode-decode {
    width: 60%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 12% 0 12%;
    margin: 0 7% 0 7%;
    border: 9px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 16px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 60px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 37.5%;
    height: 40px;
    font-size: 14px;
    margin: 0 3% 0 3%;
    border: 3px solid #ff5;
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  #view .content-view-encode-decode {
    width: 65%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-encode-decode .div-cipher {
    padding: 0 12% 0 12%;
    margin: 0 12% 0 12%;
    border: 10px solid #6aa84f;
    border-radius: 8px;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 17px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 65px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 35%;
    height: 45px;
    font-size: 14px;
    margin: 0 3% 0 3%;
    border: 4px solid #ff5;
    border-radius: 5px;
  }
}

#view .content-view-instructions {
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
#view .content-view-instructions #container-instructions {
  display: flex;
  justify-content: center;
}
#view .content-view-instructions #container-instructions section {
  display: flex;
  border: 2px solid #00AF80;
  border-radius: 10px;
}
#view .content-view-instructions #container-instructions section div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#view .content-view-instructions #container-instructions section .subtitle-instructions {
  border-bottom: 2px solid #00AF80;
}
#view .content-view-instructions #container-instructions section .item-instruction p {
  margin-bottom: 0;
}
@media (max-width: 320px) {
  #view .content-view-instructions {
    width: 85%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin-top: 7%;
  }
  #view .content-view-instructions #container-description-web p {
    margin-top: -3%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: column;
    align-content: center;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 3% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 14px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 5% 0 5%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 12vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-instructions {
    width: 75%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 9% 0 3% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: 0 2% 0 2%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: column;
    align-content: center;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 3% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 15px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 7% 0 7%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 10vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-instructions {
    width: 90%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 2% 0 2%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 16px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 4% 0 4%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 7vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 5% 0 5%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 7% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 17px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 8% 0 8%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 5vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 4% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 7% 0 7%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 7% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 18px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 9% 0 9%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 4vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 1200px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 3% 0 4% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 10% 0 10%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 35%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 6% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 19px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 9% 0 9%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    display: flex;
    width: 3.5vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}

#view .content-view-error {
  justify-content: center;
  align-items: center;
}
#view .content-view-error div {
  display: flex;
  flex-direction: column;
}
#view .content-view-error div h1 {
  font-family: "Bungee Inline", cursive;
  color: #35ff89;
  text-shadow: 0 0 1px #00AF80, -1px -1px 0 #00AF80, 1px -1px 0 #00AF80, -1px 1px 0 #00AF80, 1px 1px 0 #00AF80;
}
#view .content-view-error div p {
  font-weight: bold;
}
@media (max-width: 320px) {
  #view .content-view-error {
    width: 80%;
    height: 300px;
    flex-direction: column;
    margin: 6% 6%;
    padding: 3% 0 3% 0;
  }
  #view .content-view-error h1 {
    font-size: 22px;
  }
  #view .content-view-error p {
    margin-top: -3%;
  }
  #view .content-view-error img {
    width: 90%;
    border-radius: 5px;
    margin: 5% 5%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-error {
    width: 75%;
    height: 320px;
    flex-direction: column;
    margin: 10% 10%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error h1 {
    font-size: 26px;
  }
  #view .content-view-error p {
    margin-top: -3%;
  }
  #view .content-view-error img {
    border-radius: 5px;
    margin: 5% 5%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-error {
    width: 85%;
    height: 340px;
    flex-direction: row-reverse;
    margin: 11% 11%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error div {
    width: 45%;
    margin: 0 0 0 4%;
  }
  #view .content-view-error div h1 {
    font-size: 30px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -7%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-error {
    width: 80%;
    height: 360px;
    flex-direction: row-reverse;
    margin: 7% 7%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error div {
    width: 50%;
    margin: 0 0 0 7%;
  }
  #view .content-view-error div h1 {
    font-size: 50px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -7%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-error {
    width: 70%;
    height: 380;
    flex-direction: row-reverse;
    margin: 7% 7%;
    padding: 5% 0 5% 0;
  }
  #view .content-view-error div {
    width: 40%;
    margin: 0 0 0 7%;
  }
  #view .content-view-error div h1 {
    font-size: 70px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -10%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  #view .content-view-error {
    width: 90%;
    height: 400px;
    flex-direction: row-reverse;
    margin: 4% 4%;
    padding: 0 0 0 0;
  }
  #view .content-view-error div {
    width: 35%;
    margin: 0 0 0 5%;
  }
  #view .content-view-error div h1 {
    font-size: 80px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -10%;
  }
  #view .content-view-error img {
    width: 38%;
    border-radius: 5px;
  }
}

body {
  margin: 0;
  font-family: "Athiti", sans-serif;
  background: #c7f3b3ff;
}
body #view {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  /* View Encode & Decode and View Error */
}
body #view h1 {
  text-align: center;
}
body #view p {
  text-align: center;
}
body #view .content-view-encode-decode, body #view .content-view-instructions, body #view .content-view-error {
  display: flex;
}
@media (max-width: 320px) {
  body {
    padding-top: 60px;
  }
  body p {
    font-size: 13px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    padding-top: 60px;
  }
  body p {
    font-size: 13px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 16px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  body p {
    font-size: 14px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding-top: 80px;
  }
  body p {
    font-size: 15px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 22px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  body {
    padding-top: 80px;
  }
  body p {
    font-size: 16px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 85px;
  }
  body p {
    font-size: 17px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=style.css.map */
