.u-center-text {
  text-align: center !important;
}

.u-flex {
  display: flex;
}

.u-cursor-pointer {
  cursor: pointer;
}

@keyframes modal {
  from {
    top: -330px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
body {
  margin: 0;
  font-family: "Athiti", sans-serif;
  background: #c7f3b3ff;
}
body #view {
  width: 100%;
  margin: 0;
  justify-content: center;
}
body a, body button {
  outline: none;
}
@media (max-width: 320px) {
  body {
    padding-top: 60px;
  }
  body p {
    font-size: 13px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    padding-top: 60px;
  }
  body p {
    font-size: 13px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 16px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  body p {
    font-size: 14px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding-top: 80px;
  }
  body p {
    font-size: 15px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 22px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  body {
    padding-top: 80px;
  }
  body p {
    font-size: 16px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  body {
    padding-top: 85px;
  }
  body p {
    font-size: 17px;
  }
  body .content-view-encode-decode h1, body .content-view-instructions h1 {
    font-size: 26px;
  }
}

#container-modal {
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 10, 10, 0.81);
}
#container-modal #modal {
  position: relative;
  background: white;
  margin: auto;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  animation-name: modal;
  animation-duration: 1s;
  flex-direction: column;
  border-radius: 10px;
}
#container-modal #modal button {
  background: #c7f3b3ff;
  border-radius: 5px;
  border: 1px solid #a2fb7a;
  font-family: "Athiti", sans-serif;
}
#container-modal #modal .modal-header, #container-modal #modal .modal-footer {
  align-items: center;
  background: #6aa84f;
}
#container-modal #modal .modal-header {
  justify-content: space-between;
  color: white;
}
#container-modal #modal .modal-header h2 {
  font-weight: bold;
}
#container-modal #modal .modal-header #span-close {
  font-weight: bold;
}
#container-modal #modal .modal-header #span-close:hover {
  color: grey;
}
#container-modal #modal .modal-footer {
  border-radius: 0 0 10px 10px;
  justify-content: flex-end;
}
#container-modal #modal .modal-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container-modal #modal .modal-body div {
  justify-content: center;
  align-items: center;
  overflow: scroll;
  border: 2px solid grey;
}
#container-modal #modal .modal-body span {
  font-weight: bold;
  margin-top: -3%;
}
@media (max-width: 320px) {
  #container-modal #modal {
    width: 70%;
  }
  #container-modal #modal button {
    width: 35%;
    padding: 1%;
    font-size: 13px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 10vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 3px 3px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 18px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 5%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 3px 3px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 12% 7% 12%;
  }
  #container-modal #modal .modal-body div {
    width: 70%;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -3%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 6%;
  }
  #container-modal #modal .modal-body span {
    font-size: 11px;
    margin-top: 6%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 5%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #container-modal #modal {
    width: 60%;
  }
  #container-modal #modal button {
    width: 30%;
    padding: 1%;
    font-size: 13px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 11vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 4px 4px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 19px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 6%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 4px 4px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 10% 7% 10%;
  }
  #container-modal #modal .modal-body div {
    width: 70%;
    height: 35px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: -2%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 6%;
  }
  #container-modal #modal .modal-body span {
    font-size: 13px;
    margin-top: 3%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 6%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #container-modal #modal {
    width: 50%;
  }
  #container-modal #modal button {
    width: 30%;
    padding: 1%;
    font-size: 14px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 12vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 5px 5px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 20px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 7%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 5px 5px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 9% 6% 9%;
  }
  #container-modal #modal .modal-body div {
    width: 75%;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: -2%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 4%;
  }
  #container-modal #modal .modal-body span {
    font-size: 13px;
    margin-top: 3%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 7%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #container-modal #modal {
    width: 40%;
  }
  #container-modal #modal button {
    width: 30%;
    padding: 1%;
    font-size: 15px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 12.5vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 6px 6px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 22px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 6%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 6px 6px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 8% 6% 8%;
  }
  #container-modal #modal .modal-body div {
    width: 75%;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: -2%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 4%;
  }
  #container-modal #modal .modal-body span {
    font-size: 14px;
    margin-top: 3%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 6%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #container-modal #modal {
    width: 35%;
  }
  #container-modal #modal button {
    width: 30%;
    padding: 1%;
    font-size: 16px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 13vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 6px 6px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 24px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 6%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 6px 6px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 7% 6% 7%;
  }
  #container-modal #modal .modal-body div {
    width: 75%;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -2%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 4%;
  }
  #container-modal #modal .modal-body span {
    font-size: 15px;
    margin-top: 3%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 6%;
  }
}
@media (min-width: 1200px) {
  #container-modal #modal {
    width: 30%;
  }
  #container-modal #modal button {
    width: 30%;
    padding: 1%;
    font-size: 17px;
  }
  #container-modal #modal .modal-header, #container-modal #modal .modal-footer {
    height: 12vh;
  }
  #container-modal #modal .modal-header {
    border-radius: 6px 6px 0 0;
  }
  #container-modal #modal .modal-header h2, #container-modal #modal .modal-header span {
    font-size: 25px;
  }
  #container-modal #modal .modal-header h2 {
    margin-left: 6%;
  }
  #container-modal #modal .modal-footer {
    border-radius: 0 0 6px 6px;
  }
  #container-modal #modal .modal-body {
    padding: 3% 7% 6% 7%;
  }
  #container-modal #modal .modal-body div {
    width: 75%;
    height: 55px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: -2%;
  }
  #container-modal #modal .modal-body button {
    margin-top: 4%;
  }
  #container-modal #modal .modal-body span {
    font-size: 15px;
    margin-top: 3%;
  }
  #container-modal #modal #span-close, #container-modal #modal #button-accept {
    margin-right: 6%;
  }
}

header {
  width: 100%;
  height: auto;
  background: #efefefff;
  top: 0;
  position: fixed;
}
header #logo-text {
  border-radius: 5px;
}
header ul {
  list-style: none;
}
header ul a {
  text-decoration: none;
  color: black;
}
header ul li {
  border-style: solid;
  border-color: white;
}
header ul li:hover {
  background: grey;
  transition: all 1s;
}
header ul li:hover a {
  color: white;
  font-weight: bold;
}
header .show {
  display: block;
}
@media (max-width: 320px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 16%;
    height: 45px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 45px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 14%;
    height: 50px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 50px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top-width: 1.5px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header div {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  header div #icon-menu {
    width: 11.5%;
    height: 60px;
    display: flex;
    margin-left: 3.2%;
  }
  header div a {
    width: inherit;
    margin-right: -47%;
  }
  header div a #logo-text {
    width: 50%;
    height: 60px;
    margin-right: 3.2%;
  }
  header nav {
    width: 100%;
    height: auto;
    display: none;
  }
  header nav ul {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
  }
  header nav ul li {
    height: 50px;
    border-top-width: 2px;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    height: 82px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    width: 100%;
  }
  header div a #logo-text {
    width: 100%;
    height: 60px;
  }
  header nav {
    width: 65%;
    height: auto;
    margin-right: 1%;
  }
  header nav li {
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  header {
    height: 85px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    width: 100%;
  }
  header div a #logo-text {
    width: 90%;
    height: 60px;
  }
  header nav {
    width: 55%;
    height: auto;
    margin-right: 1%;
  }
  header nav li {
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}
@media (min-width: 1200px) {
  header {
    height: 88px;
    flex-direction: row;
    justify-content: space-between;
  }
  header div {
    width: 25%;
    height: auto;
    align-items: center;
    margin-left: 3%;
  }
  header div #icon-menu {
    display: none;
  }
  header div a {
    width: 100%;
  }
  header div a #logo-text {
    width: 80%;
    height: 60px;
  }
  header nav {
    width: 50%;
    height: auto;
    margin-right: 1%;
  }
  header nav li {
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 15px;
    margin: 0 3% 0 3%;
  }
}

footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #1c1c1c;
  color: white;
}
@media (max-width: 320px) {
  footer {
    height: 45px;
  }
  footer p {
    margin: 0 5% 0 5%;
    font-size: 13px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 45px;
    font-size: 15px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    height: 45px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    height: 47.5px;
    font-size: 17px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  footer {
    height: 50px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  footer {
    height: 52.5px;
    font-size: 19px;
  }
}

#view .content-view-encode-decode {
  flex-direction: column;
}
#view .content-view-encode-decode .div-cipher {
  flex-direction: column;
  justify-content: center;
  background: white;
  border-color: #6aa84f;
  border-style: solid;
}
#view .content-view-encode-decode .div-cipher input, #view .content-view-encode-decode .div-cipher textarea {
  background: gainsboro;
  border: 1px solid grey;
  border-radius: 5px;
}
#view .content-view-encode-decode .div-cipher input:invalid, #view .content-view-encode-decode .div-cipher textarea:invalid {
  border-color: red;
}
#view .content-view-encode-decode .div-cipher textarea {
  resize: none;
}
#view .content-view-encode-decode .div-cipher .div-buttons {
  justify-content: center;
  margin: 5% 0 5% 0;
}
#view .content-view-encode-decode .div-cipher .div-buttons button {
  background: #ffff8a;
  border-color: #ff5;
  border-style: solid;
}
@media (max-width: 320px) {
  #view .content-view-encode-decode {
    width: 80%;
    margin: 3% 0 11% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: -3%;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 5px;
    border-radius: 8px;
    margin: 5% 0 0 0;
    padding: 0 5% 0 5%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 13px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 45%;
    height: 25px;
    font-size: 10px;
    margin: 0 2% 0 2%;
    border-width: 2px;
    border-radius: 5px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-encode-decode {
    width: 80%;
    margin: 7% 0 9% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: -1%;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 6px;
    border-radius: 8px;
    margin: 2% 0 0 0;
    padding: 0 5% 0 5%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 13px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 43%;
    height: 25px;
    font-size: 11px;
    margin: 0 2% 0 2%;
    border-width: 2px;
    border-radius: 5px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-encode-decode {
    width: 70%;
    margin: 5% 0 7% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: 0;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 7px;
    border-radius: 8px;
    margin: 2% 0 0 0;
    padding: 0 12% 0 12%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 14px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 50px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 42%;
    height: 30px;
    font-size: 12px;
    margin: 0 3% 0 3%;
    border-width: 2px;
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-encode-decode {
    width: 60%;
    margin: 3% 0 6% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: -1%;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 8px;
    border-radius: 8px;
    margin: 2% 5% 0 5%;
    padding: 0 12% 0 12%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 15px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 55px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 40%;
    height: 35px;
    font-size: 13px;
    margin: 0 3% 0 3%;
    border-width: 2px;
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-encode-decode {
    width: 60%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: -1%;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 9px;
    border-radius: 8px;
    margin: 2% 7% 0 7%;
    padding: 0 12% 0 12%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 16px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 60px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 37.5%;
    height: 40px;
    font-size: 14px;
    margin: 0 3% 0 3%;
    border-width: 3px;
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  #view .content-view-encode-decode {
    width: 65%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-encode-decode h1 {
    margin-bottom: 0;
  }
  #view .content-view-encode-decode .div-cipher {
    border-width: 10px;
    border-radius: 8px;
    margin: 3% 12% 0 12%;
    padding: 0 12% 0 12%;
  }
  #view .content-view-encode-decode .div-cipher label {
    font-size: 17px;
    margin-top: 3%;
  }
  #view .content-view-encode-decode .div-cipher input {
    height: 23px;
  }
  #view .content-view-encode-decode .div-cipher textarea {
    height: 65px;
  }
  #view .content-view-encode-decode .div-cipher button {
    width: 35%;
    height: 45px;
    font-size: 14px;
    margin: 0 3% 0 3%;
    border-width: 4px;
    border-radius: 5px;
  }
}

#view .content-view-instructions {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#view .content-view-instructions #container-instructions {
  justify-content: center;
}
#view .content-view-instructions #container-instructions section {
  border: 2px solid #00AF80;
  border-radius: 10px;
}
#view .content-view-instructions #container-instructions section div {
  justify-content: center;
  align-items: center;
}
#view .content-view-instructions #container-instructions section .subtitle-instructions {
  border-bottom: 2px solid #00AF80;
}
#view .content-view-instructions #container-instructions section .item-instruction p {
  margin-bottom: 0;
}
@media (max-width: 320px) {
  #view .content-view-instructions {
    width: 85%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin-top: 7%;
  }
  #view .content-view-instructions #container-description-web p {
    margin-top: -3%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: column;
    align-content: center;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 3% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 14px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 5% 0 5%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 12vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-instructions {
    width: 75%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 9% 0 3% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: 0 2% 0 2%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: column;
    align-content: center;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 3% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 15px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 7% 0 7%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 10vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-instructions {
    width: 90%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 5% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 2% 0 2%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 8% 0;
    padding: 2% 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 16px;
    margin: 0 0 2% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 4% 0 4%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 7vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 3% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 5% 0 5%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 7% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 17px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 8% 0 8%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 5vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 4% 0 5% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 7% 0 7%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 40%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 7% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 18px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 9% 0 9%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    width: 4vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}
@media (min-width: 1200px) {
  #view .content-view-instructions {
    width: 80%;
  }
  #view .content-view-instructions #container-description-web {
    width: 100%;
    margin: 3% 0 4% 0;
  }
  #view .content-view-instructions #container-description-web p {
    margin: -1% 10% 0 10%;
  }
  #view .content-view-instructions #container-instructions {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
  }
  #view .content-view-instructions #container-instructions section {
    width: 35%;
    flex-direction: column;
    align-content: center;
    margin: 1% 0 6% 0;
    padding: 2% 0 1% 0;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions {
    width: 100%;
    margin-bottom: 2%;
  }
  #view .content-view-instructions #container-instructions section .subtitle-instructions h2 {
    font-size: 19px;
    margin: 0 0 5% 0;
  }
  #view .content-view-instructions #container-instructions section .item-instruction {
    flex-direction: column;
    margin: 3% 0 3% 0;
    padding: 0 9% 0 9%;
  }
  #view .content-view-instructions #container-instructions section .item-instruction img {
    display: flex;
    width: 3.5vw;
  }
  #view .content-view-instructions #container-instructions section .item-instruction p {
    margin-top: 3%;
  }
}

#view .content-view-error {
  justify-content: center;
  align-items: center;
}
#view .content-view-error div {
  flex-direction: column;
}
#view .content-view-error div h1 {
  font-family: "Bungee Inline", cursive;
  color: #35ff89;
  text-shadow: 0 0 1px #00AF80, -1px -1px 0 #00AF80, 1px -1px 0 #00AF80, -1px 1px 0 #00AF80, 1px 1px 0 #00AF80;
}
#view .content-view-error div p {
  font-weight: bold;
}
@media (max-width: 320px) {
  #view .content-view-error {
    width: 80%;
    height: 300px;
    flex-direction: column;
    margin: 6% 6%;
    padding: 3% 0 3% 0;
  }
  #view .content-view-error h1 {
    font-size: 22px;
  }
  #view .content-view-error p {
    margin-top: -3%;
  }
  #view .content-view-error img {
    width: 90%;
    border-radius: 5px;
    margin: 5% 5%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  #view .content-view-error {
    width: 75%;
    height: 320px;
    flex-direction: column;
    margin: 10% 10%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error h1 {
    font-size: 26px;
  }
  #view .content-view-error p {
    margin-top: -3%;
  }
  #view .content-view-error img {
    border-radius: 5px;
    margin: 5% 5%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  #view .content-view-error {
    width: 85%;
    height: 340px;
    flex-direction: row-reverse;
    margin: 11% 11%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error div {
    width: 45%;
    margin: 0 0 0 4%;
  }
  #view .content-view-error div h1 {
    font-size: 30px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -7%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #view .content-view-error {
    width: 80%;
    height: 360px;
    flex-direction: row-reverse;
    margin: 7% 7%;
    padding: 2% 0 2% 0;
  }
  #view .content-view-error div {
    width: 50%;
    margin: 0 0 0 7%;
  }
  #view .content-view-error div h1 {
    font-size: 50px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -7%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  #view .content-view-error {
    width: 70%;
    height: 380px;
    flex-direction: row-reverse;
    margin: 7% 7%;
    padding: 5% 0 5% 0;
  }
  #view .content-view-error div {
    width: 40%;
    margin: 0 0 0 7%;
  }
  #view .content-view-error div h1 {
    font-size: 70px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -10%;
  }
  #view .content-view-error img {
    border-radius: 5px;
  }
}
@media (min-width: 1200px) {
  #view .content-view-error {
    width: 90%;
    height: 400px;
    flex-direction: row-reverse;
    margin: 4% 4%;
    padding: 0;
  }
  #view .content-view-error div {
    width: 35%;
    margin: 0 0 0 5%;
  }
  #view .content-view-error div h1 {
    font-size: 80px;
    margin-top: 2%;
  }
  #view .content-view-error div p {
    margin-top: -10%;
  }
  #view .content-view-error img {
    width: 38%;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
