

@mixin styleFlex($justifyContent) {
    justify-content: $justifyContent;
    align-items: center;
}


@mixin headerBeeline($height) {
    height: $height;
    flex-direction: row;
    justify-content: space-between;
}


@mixin divIconAndLogo {
    align-items: center;
    margin-left: 3%;
}


@mixin anchorLogoInMenuBurger() {
    width: inherit;
    margin-right: -47%;
}


@mixin ulInMenuBurger() {
    flex-direction: column;
    margin: 0 0;
    margin-left: -40px;
}


@mixin size($width, $height) {
    width: $width;
    height: $height;
}


@mixin border($borderWidth, $borderRadius) {
    border-width: $borderWidth;
    border-radius: $borderRadius;
}


@mixin marginPadding($margin, $padding) {
    margin: $margin;
    padding: $padding;
}


@mixin responsiveView ($breakpoint) {
    @if $breakpoint == lessBlackberry {
        @media (max-width: $blackberry) { @content };
    }

    @if $breakpoint == blackberry-smartphone {
        @media (min-width: $blackberry) and (max-width: $smartphone) { @content }
    }

    @if $breakpoint == smartphone-tablet {
        @media (min-width: $smartphone) and (max-width: $tablet) { @content }
    }

    @if $breakpoint == tablet-notebook {
        @media (min-width: $tablet) and (max-width: $notebook) { @content }
    }

    @if $breakpoint == notebook-desktop {
        @media (min-width: $notebook) and (max-width: $desktop) { @content }
    }

    @if $breakpoint == majorDesktop {
        @media (min-width: $desktop) { @content }
    }
}
