
// Colors

$color-body-button-modal: #c7f3b3ff;
$color-header: #efefefff;
$color-anchor: black;
$color-li-hover: rgb(151, 151, 151);
$color-cipher-text-border-li: white;
$color-border-cipher: #6aa84f;
$color-input-textarea: gainsboro; 
$color-border-input-textarea: gray;
$color-invalid-inputs: red;
$color-button-cipher: #ffff8a;
$color-border-button-cipher: #ff5;
$color-text-error: rgb(53, 255, 137);
$color-border-text-table: #00AF80;
$color-container-modal: rgba(11, 10, 10, 0.81);
$color-shadow-modal: rgba(0, 0, 0, .4);
$color-header-footer-modal: #6aa84f;
$color-modal-body: #fefefe;
$color-text-modal-span: #f2f2f2;
$color-border-button-modal: #a2fb7a;
$color-span-hover: #595a5a;
$color-div-body: grey;


// Font Size

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
