
// Colors

$color-green-light: #c7f3b3ff;
$color-grey-light: #efefefff;
$color-black: black;
$color-black-light: #1c1c1c;
$color-grey: grey;
$color-white: white;
$color-grey-water: gainsboro; 
$color-red-light: red;
$color-yellow-light: #ffff8a;
$color-yellow-medium: #ff5;
$color-green-plant: rgb(53, 255, 137);
$color-green-jade: #00AF80;
$color-black-shadow: rgba(11, 10, 10, 0.81);
$color-shadow: rgba(0, 0, 0, .4);
$color-green-medium: #6aa84f;
$color-green-lemon: #a2fb7a;
