
@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
