
body {
    margin: 0;
    font-family: 'Athiti', sans-serif;
    background: $color-green-light;

    #view {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    a, button {
        outline: none;
    }

    @media (max-width: $blackberry) {
        padding-top: 60px;

        p {
            font-size: 13px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 16px;
            }
        }
    }

    @media (min-width: $blackberry) and (max-width: $smartphone) {
        padding-top: 60px;

        p {
            font-size: 13px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 16px;
            }
        }
    }

    @media (min-width: $smartphone) and (max-width: $tablet) {
        padding-top: 70px;

        p {
            font-size: 14px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 18px;
            }
        }
    }

    @media (min-width: $tablet) and (max-width: $notebook) {
        padding-top: 80px;

        p {
            font-size: 15px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 22px;
            }
        }
    }

    @media (min-width: $notebook) and (max-width: $desktop) {
        padding-top: 80px;

        p {
            font-size: 16px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 24px;
            }
        }
    }

    @media (min-width: $desktop) {
        padding-top: 85px;

        p {
            font-size: 17px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 26px;
            }
        }
    }
}
