
body {
    margin: 0;
    font-family: 'Athiti', sans-serif;
    background: $color-green-light;

    #view {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    a, button {
        outline: none;
    }

    @include responsiveView(lessBlackberry) {
        padding-top: 60px;

        p {
            font-size: 13px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 16px;
            }
        }
    }

    @include responsiveView(blackberry-smartphone) {
        padding-top: 60px;

        p {
            font-size: 13px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 16px;
            }
        }
    }

    @include responsiveView(smartphone-tablet) {
        padding-top: 70px;

        p {
            font-size: 14px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 18px;
            }
        }
    }

    @include responsiveView(tablet-notebook) {
        padding-top: 80px;

        p {
            font-size: 15px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 22px;
            }
        }
    }

    @include responsiveView(notebook-desktop) {
        padding-top: 80px;

        p {
            font-size: 16px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 24px;
            }
        }
    }

    @include responsiveView(majorDesktop) {
        padding-top: 85px;

        p {
            font-size: 17px;
        }

        .content-view-encode-decode, .content-view-instructions {
            h1 {
                font-size: 26px;
            }
        }
    }
}
